### Project Setup

Before proceeding with the execution of the notebook:  
- The first cell installs all the dependencies listed in `requirements.txt`.  
- The second cell runs a script to download and extract the dataset into the `data` folder.

These steps need to be performed only once.

In [31]:
%pip install -r requirements.txt

Requirement already satisfied: asttokens==2.4.1 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 1)) (2.4.1)
Requirement already satisfied: certifi==2024.8.30 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 2)) (2024.8.30)
Requirement already satisfied: charset-normalizer==3.4.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 3)) (3.4.0)
Requirement already satisfied: colorama==0.4.6 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 4)) (0.4.6)
Requirement already satisfied: comm==0.2.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 5)) (0.2.2)
Requirement already satisfied: debugpy==1.8.9 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 6)) (1.8.9)
Requirement already satisfied: decorator==5.1.1 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 7)) (5.1.1)
Requirement already satisfied: executing==2.1.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 8)) (2.1.0)
Requirement already satisfied: idna==3.10 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 9)) (3.10)
Requirement already satisfied: ipykernel==6.29.5 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 10)) (6.29.5)
Requirement already satisfied: ipython==8.29.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 11)) (8.29.0)
Requirement already satisfied: jedi==0.19.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 12)) (0.19.2)
Requirement already satisfied: jupyter_client==8.6.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 13)) (8.6.3)
Requirement already satisfied: jupyter_core==5.7.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 14)) (5.7.2)
Requirement already satisfied: matplotlib-inline==0.1.7 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 15)) (0.1.7)
Requirement already satisfied: nest-asyncio==1.6.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 16)) (1.6.0)
Requirement already satisfied: numpy==2.1.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 17)) (2.1.3)
Requirement already satisfied: packaging==24.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 18)) (24.2)
Requirement already satisfied: pandas==2.2.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 19)) (2.2.3)
Requirement already satisfied: parso==0.8.4 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 20)) (0.8.4)
Requirement already satisfied: platformdirs==4.3.6 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 21)) (4.3.6)
Requirement already satisfied: prompt_toolkit==3.0.48 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 22)) (3.0.48)
Requirement already satisfied: psutil==6.1.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 23)) (6.1.0)
Requirement already satisfied: pure_eval==0.2.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 24)) (0.2.3)
Requirement already satisfied: Pygments==2.18.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 25)) (2.18.0)
Requirement already satisfied: python-dateutil==2.9.0.post0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 26)) (2.9.0.post0)
Requirement already satisfied: pytz==2024.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 27)) (2024.2)
Requirement already satisfied: pywin32==308 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 28)) (308)
Requirement already satisfied: pyzmq==26.2.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 29)) (26.2.0)
Requirement already satisfied: requests==2.32.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 30)) (2.32.3)
Requirement already satisfied: six==1.16.0 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 31)) (1.16.0)
Requirement already satisfied: stack-data==0.6.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 32)) (0.6.3)
Requirement already satisfied: tornado==6.4.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 33)) (6.4.2)
Requirement already satisfied: traitlets==5.14.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 34)) (5.14.3)
Requirement already satisfied: tzdata==2024.2 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 35)) (2024.2)
Requirement already satisfied: urllib3==2.2.3 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 36)) (2.2.3)
Requirement already satisfied: wcwidth==0.2.13 in c:\users\admin\pycharmprojects\foundations-of-cs-project\.venv\lib\site-packages (from -r requirements.txt (line 37)) (0.2.13)
Note: you may need to restart the kernel to use updated packages.

In [32]:
!python download_data.py

Created directory: data
Downloading data from https://www.kaggle.com/api/v1/datasets/download/diishasiing/revenue-for-cab-drivers/...
Download successful.
Files in archive: ['data.csv']
Extracting data.csv...
data.csv extracted to data.
Data is ready at data\data.csv

##### Libraries

In [2]:
import pandas as pd

#### Constants

In [3]:
FILL_STRING = "N/A"

### Project Exec

In [4]:
df = pd.read_csv('data/data.csv')
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_5452\2740632415.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/data.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [5]:
count_values = df["store_and_fwd_flag"].value_counts(dropna=False)

# Stampa i risultati
print(count_values)

store_and_fwd_flag
N      6271447
Y        68120
NaN      65441
Name: count, dtype: int64

In [6]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].fillna(FILL_STRING)
count_values = df["store_and_fwd_flag"].value_counts(dropna=False)

# Stampa i risultati
print(count_values)

store_and_fwd_flag
N      6271447
Y        68120
N/A      65441
Name: count, dtype: int64

1. Extract all trips with trip_distance larger than 50

In [7]:
long_distance_trips = df[df["trip_distance"] > 50]
long_distance_trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.0,0.0,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.0,0.0,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.0,0.0,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.0,0.0,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.0,0.0,0.0,0.00,12.24,0.3,242.54,0.0

2. Extract all trips where payment_type is missing

In [8]:
missing_payment_trips = df[df["payment_type"].isna()]

# Visualizza le prime righe del risultato
missing_payment_trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,N/A,136,232,NaN,51.05,2.75,0.5,0.0,0.0,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,N/A,121,9,NaN,27.06,2.75,0.0,0.0,0.0,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,N/A,197,216,NaN,24.36,2.75,0.5,0.0,0.0,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,N/A,262,236,NaN,26.08,2.75,0.5,0.0,0.0,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,N/A,45,142,NaN,25.28,2.75,0.5,0.0,0.0,0.3,28.83,0.0

3. For each (PULocationID, DOLocationID) pair, determine the number of trips

In [9]:
trips_per_location_pair = df.groupby(["PULocationID", "DOLocationID"]).size().reset_index(name="trip_count")

# Visualizza le prime righe del risultato
trips_per_location_pair.head()

   PULocationID  DOLocationID  trip_count
0             1             1         638
1             1            50           1
2             1            68           1
3             1           138           2
4             1           140           1

4. Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [10]:
bad = df[df[["VendorID", "passenger_count", "store_and_fwd_flag", "payment_type"]].isna().any(axis=1)]

df = df.drop(bad.index)

In [11]:
bad.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,N/A,136,232,NaN,51.05,2.75,0.5,0.0,0.0,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,N/A,121,9,NaN,27.06,2.75,0.0,0.0,0.0,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,N/A,197,216,NaN,24.36,2.75,0.5,0.0,0.0,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,N/A,262,236,NaN,26.08,2.75,0.5,0.0,0.0,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,N/A,45,142,NaN,25.28,2.75,0.5,0.0,0.0,0.3,28.83,0.0

5. Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [12]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

# Calcola la durata in minuti e aggiungi una nuova colonna 'duration'
df["duration"] = (df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]).dt.total_seconds() / 60

# Visualizza le prime righe per verifica
df[["tpep_pickup_datetime", "tpep_dropoff_datetime", "duration"]].head()

  tpep_pickup_datetime tpep_dropoff_datetime  duration
0  2020-01-01 00:28:15   2020-01-01 00:33:03  4.800000
1  2020-01-01 00:35:39   2020-01-01 00:43:04  7.416667
2  2020-01-01 00:47:41   2020-01-01 00:53:52  6.183333
3  2020-01-01 00:55:23   2020-01-01 01:00:14  4.850000
4  2020-01-01 00:01:58   2020-01-01 00:04:16  2.300000

6. For each pickup location, determine how many trips have started there.

In [13]:
# Raggruppa per PULocationID e conta i viaggi
trips_per_pickup_location = df.groupby("PULocationID").size().reset_index(name="trip_count")

# Visualizza le prime righe del risultato
trips_per_pickup_location.head()

   PULocationID  trip_count
0             1         753
1             2           3
2             3          70
3             4        9902
4             5          39

7. Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [14]:
df["pickup_30min_interval"] = (
    df["tpep_pickup_datetime"].dt.floor("30min").dt.strftime("%H:%M")
    + "-"
    + (df["tpep_pickup_datetime"].dt.floor("30min") + pd.Timedelta(minutes=30)).dt.strftime("%H:%M")
)

df[["tpep_pickup_datetime", "pickup_30min_interval"]].head()

  tpep_pickup_datetime pickup_30min_interval
0  2020-01-01 00:28:15           00:00-00:30
1  2020-01-01 00:35:39           00:30-01:00
2  2020-01-01 00:47:41           00:30-01:00
3  2020-01-01 00:55:23           00:30-01:00
4  2020-01-01 00:01:58           00:00-00:30

8. For each interval, determine the average number of passengers and the average fare amount.

In [15]:
interval_stats = df.groupby("pickup_30min_interval").agg(
    avg_passengers=("passenger_count", "mean"),
    avg_fare_amount=("fare_amount", "mean")
).reset_index()

interval_stats.head()

  pickup_30min_interval  avg_passengers  avg_fare_amount
0           00:00-00:30        1.572848        13.526433
1           00:30-01:00        1.584345        13.214132
2           01:00-01:30        1.578933        12.699554
3           01:30-02:00        1.589182        12.265997
4           02:00-02:30        1.587479        12.089669

In [16]:
interval_stats.tail()

   pickup_30min_interval  avg_passengers  avg_fare_amount
43           21:30-22:00        1.564563        12.559674
44           22:00-22:30        1.565824        12.805710
45           22:30-23:00        1.571608        13.170497
46           23:00-23:30        1.569022        13.253366
47           23:30-00:00        1.570120        13.206596

9. For each payment type and each interval, determine the average fare amount

In [17]:
# Raggruppa per payment_type e pickup_30min_interval e calcola la tariffa media
payment_interval_stats = df.groupby(["payment_type", "pickup_30min_interval"]).agg(
    avg_fare_amount=("fare_amount", "mean")
).reset_index()

# Visualizza le prime righe del risultato
payment_interval_stats.head()

   payment_type pickup_30min_interval  avg_fare_amount
0           1.0           00:00-00:30        13.869142
1           1.0           00:30-01:00        13.472232
2           1.0           01:00-01:30        12.824603
3           1.0           01:30-02:00        12.357974
4           1.0           02:00-02:30        12.008589

10. For each payment type, determine the interval when the average fare amount is maximum

In [18]:
# Raggruppa per payment_type e calcola la tariffa media per intervallo
payment_interval_stats = df.groupby(["payment_type", "pickup_30min_interval"]).agg(
    avg_fare_amount=("fare_amount", "mean")
).reset_index()

# Trova l'intervallo con la tariffa media massima per ciascun tipo di pagamento
max_fare_intervals = payment_interval_stats.loc[
    payment_interval_stats.groupby("payment_type")["avg_fare_amount"].idxmax()
]

# Visualizza le righe con la tariffa massima per ogni tipo di pagamento
max_fare_intervals

     payment_type pickup_30min_interval  avg_fare_amount
10            1.0           05:00-05:30        21.256949
58            2.0           05:00-05:30        14.846814
110           3.0           07:00-07:30        10.950938
154           4.0           05:00-05:30         6.634043
192           5.0           17:30-18:00         0.000000

11. For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [20]:
# Calcola il rapporto tra tip_amount e fare_amount per ciascun pagamento e intervallo
df["tip_to_fare_ratio"] = (df["tip_amount"] / df["fare_amount"]).where(df["fare_amount"] != 0, float('nan'))

# Raggruppa per payment_type e pickup_30min_interval e calcola la media del rapporto
tip_fare_ratio_stats = df.groupby(["payment_type", "pickup_30min_interval"]).agg(
    avg_tip_to_fare_ratio=("tip_to_fare_ratio", "mean")
).reset_index()

tip_fare_ratio_stats["avg_tip_to_fare_ratio"] = tip_fare_ratio_stats["avg_tip_to_fare_ratio"].fillna(-99999)

# Trova l'intervallo con il massimo rapporto per ciascun payment_type
max_ratio_intervals = tip_fare_ratio_stats.loc[
    tip_fare_ratio_stats.groupby("payment_type")["avg_tip_to_fare_ratio"].idxmax()
]

# Visualizza le righe con il massimo rapporto
max_ratio_intervals

     payment_type pickup_30min_interval  avg_tip_to_fare_ratio
3             1.0           01:30-02:00               0.503453
66            2.0           09:00-09:30               0.000051
138           3.0           21:00-21:30               0.023336
164           4.0           10:00-10:30               0.007890
192           5.0           17:30-18:00          -99999.000000

12. Find the location with the highest average fare amount

In [21]:
# Raggruppa per location (PULocationID o DOLocationID) e calcola la tariffa media
avg_fare_by_location = df.groupby("PULocationID").agg(
    avg_fare_amount=("fare_amount", "mean")
).reset_index()

# Trova la location con la tariffa media pi alta
max_fare_location = avg_fare_by_location.loc[avg_fare_by_location["avg_fare_amount"].idxmax()]

# Visualizza il risultato
max_fare_location

PULocationID       204.0
avg_fare_amount    107.0
Name: 198, dtype: float64

13. Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [22]:
# Trova le 5 destinazioni pi comuni per ogni pickup location
top_destinations = (
    df.groupby(["PULocationID", "DOLocationID"])
    .size()
    .reset_index(name="trip_count")
    .sort_values(["PULocationID", "trip_count"], ascending=[True, False])
)

# Prendi le 5 destinazioni pi comuni per ogni PULocationID
top_5_destinations = (
    top_destinations.groupby("PULocationID")
    .head(5)
    .reset_index(drop=True)
)

# Unisci con il DataFrame originale per mantenere solo i viaggi verso le destinazioni comuni
common = df.merge(
    top_5_destinations[["PULocationID", "DOLocationID"]],
    on=["PULocationID", "DOLocationID"],
    how="inner"
)

# Visualizza le prime righe del DataFrame risultante
common.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_30min_interval,tip_to_fare_ratio
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,4.800000,00:00-00:30,0.245000
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,7.416667,00:30-01:00,0.214286
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,6.183333,00:30-01:00,0.166667
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,4.850000,00:30-01:00,0.247273
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,2.300000,00:00-00:30,0.000000

14. On the common dataframe, for each payment type and each interval, determine the average fare amount

In [23]:
# Raggruppa per payment_type e pickup_30min_interval nel DataFrame "common"
avg_fare_common = common.groupby(["payment_type", "pickup_30min_interval"]).agg(
    avg_fare_amount=("fare_amount", "mean")
).reset_index()

# Visualizza le prime righe del risultato
avg_fare_common.head()

   payment_type pickup_30min_interval  avg_fare_amount
0           1.0           00:00-00:30         8.588957
1           1.0           00:30-01:00         8.690681
2           1.0           01:00-01:30         8.496143
3           1.0           01:30-02:00         8.026808
4           1.0           02:00-02:30         7.945909

15. Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [24]:
# Merge dei risultati di punto 9 (payment_interval_stats) e punto 14 (avg_fare_common)
merged_fares = payment_interval_stats.merge(
    avg_fare_common,
    on=["payment_type", "pickup_30min_interval"],
    suffixes=("_all", "_common")
)

# Calcola la differenza tra le tariffe medie
merged_fares["fare_amount_difference"] = (
    merged_fares["avg_fare_amount_common"] - merged_fares["avg_fare_amount_all"]
)

# Visualizza il risultato
merged_fares[["payment_type", "pickup_30min_interval", "avg_fare_amount_all", "avg_fare_amount_common", "fare_amount_difference"]].head()

,payment_type,pickup_30min_interval,avg_fare_amount_all,avg_fare_amount_common,fare_amount_difference
0,1.0,00:00-00:30,13.869142,8.588957,-5.280185
1,1.0,00:30-01:00,13.472232,8.690681,-4.781551
2,1.0,01:00-01:30,12.824603,8.496143,-4.328460
3,1.0,01:30-02:00,12.357974,8.026808,-4.331167
4,1.0,02:00-02:30,12.008589,7.945909,-4.062679

16. Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [25]:
# Calcola il rapporto tra la differenza e la tariffa media del punto 9
merged_fares["fare_difference_ratio"] = (
    merged_fares["fare_amount_difference"] / merged_fares["avg_fare_amount_all"]
)

# Visualizza il risultato
merged_fares[[
    "payment_type",
    "pickup_30min_interval",
    "fare_amount_difference",
    "avg_fare_amount_all",
    "fare_difference_ratio"
]].head()

,payment_type,pickup_30min_interval,fare_amount_difference,avg_fare_amount_all,fare_difference_ratio
0,1.0,00:00-00:30,-5.280185,13.869142,-0.380715
1,1.0,00:30-01:00,-4.781551,13.472232,-0.354919
2,1.0,01:00-01:30,-4.328460,12.824603,-0.337512
3,1.0,01:30-02:00,-4.331167,12.357974,-0.350475
4,1.0,02:00-02:30,-4.062679,12.008589,-0.338314

17. Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip. Hint: Add a column chain to the dataset. A chain can have more than two trips.

In [27]:

# Assicurati che le colonne datetime siano nel formato corretto
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

# Ordina il DataFrame per VendorID e tempo
df = df.sort_values(by=["VendorID", "tpep_dropoff_datetime", "tpep_pickup_datetime"]).reset_index(drop=True)

# Calcola le condizioni per le catene
same_vendor = df["VendorID"].eq(df["VendorID"].shift())
matching_locations = df["PULocationID"].eq(df["DOLocationID"].shift())
time_diff = (df["tpep_pickup_datetime"] - df["tpep_dropoff_datetime"].shift()).dt.total_seconds()
time_condition = (time_diff > 0) & (time_diff <= 120)

# Condizione finale: tutte le condizioni devono essere vere
is_chain = same_vendor & matching_locations & time_condition

# Assegna un identificatore di catena
df["chain"] = (~is_chain).cumsum()

# Visualizza le prime righe con le catene
df[["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "PULocationID", "DOLocationID", "chain"]].head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,chain
0,1.0,2020-01-01 00:01:40,2020-01-01 00:01:52,79,79,1
1,1.0,2020-01-01 00:00:50,2020-01-01 00:02:32,158,158,2
2,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,75,75,3
3,1.0,2020-01-01 00:01:55,2020-01-01 00:04:34,141,140,4
4,1.0,2020-01-01 00:01:01,2020-01-01 00:04:46,236,236,5
5,1.0,2020-01-01 00:01:59,2020-01-01 00:05:14,181,181,6
6,1.0,2020-01-01 00:01:21,2020-01-01 00:05:47,231,87,7
7,1.0,2020-01-01 00:00:25,2020-01-01 00:05:59,145,179,8
8,1.0,2020-01-01 00:03:16,2020-01-01 00:06:10,137,170,9
9,1.0,2020-01-01 00:01:45,2020-01-01 00:06:16,236,237,10
10,1.0,2020-01-01 00:03:23,2020-01-01 00:06:45,249,231,11
11,1.0,2020-01-01 00:06:02,2020-01-01 00:07:08,162,141,12
12,1.0,2020-01-01 00:02:13,2020-01-01 00:07:09,144,87,13
13,1.0,2020-01-01 00:03:28,2020-01-01 00:07:29,238,166,14
14,1.0,2020-01-01 00:02:13,2020-01-01 00:07:31,48,50,15
15,1.0,2020-01-01 00:01:30,2020-01-01 00:07:32,42,152,16
16,1.0,2020-01-01 00:02:06,2020-01-01 00:07:37,238,24,17
17,1.0,2020-01-01 00:04:33,2020-01-01 00:07:38,246,68,18
18,1.0,2020-01-01 00:01:35,2020-01-01 00:07:47,170,107,19
19,1.0,2020-01-01 00:04:41,2020-01-01 00:07:49,125,231,20